<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkBox</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="--color-background:#1a1a1a;--color-primary:#FFFDEA;--color-accent:#5c5c5c" class="app-content-uppercase">

    <div class="pageview" id="page-home">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @(DateTime.Now.Year) - <a href="https://github.com/8720826/LinkBox" target="_blank">LinkBox</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>