@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/dash">
                    控制台
                </a>
            </h4>
        </div>

    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse">
                    数据管理
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">



            <div class="panel-body">
                <a href="/category">
                    分类管理
                </a>
            </div>


            <div class="panel-body">
                <a href="/link">
                    链接管理
                </a>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse">
                    界面管理
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">



            <div class="panel-body">
                <a href="/template/html">
                    自定义模板
                </a>
            </div>


            <div class="panel-body">
                <a href="/template/css">
                    自定义样式
                </a>
            </div>


            <div class="panel-body">
                <a href="/template/js">
                    自定义脚本
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse">
                    系统
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse">

            <div class="panel-body">
                <a href="/config">
                    系统设置
                </a>
            </div>

            <div class="panel-body">
                <a href="/config/modifypassword">
                    修改密码
                </a>
            </div>

            <div class="panel-body">
                <a href="/user/logout">
                    退出登录
                </a>
            </div>
        </div>
    </div>
</div>