@page
@model LinkBox.Pages.Dash.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="toptital">

            <div class="col-md-3 column ">
                <partial name="_Menu" />
            </div>

            <div class="col-md-9 column" id="right">

                <div id="addpeifang">
                    <div class="alert alert-success alert-dismissable">
                        <h4>
                            控制台
                        </h4>
                    </div>

                    <p>系统目前一共有190个链接</p>
                </div>
            </div>
        </div>
    </div>
</div>