@page
@model LinkBox.Pages.Template.CssModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="toptital">

            <div class="col-md-3 column ">
                <partial name="_Menu" />
            </div>

            <div class="col-md-9 column" id="right">

                <div id="addpeifang">
                    <div class="alert alert-success alert-dismissable">
                        <h4>
                            @(Model.Message)
                        </h4>
                    </div>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <textarea asp-for="Template.Content" type="text" class="form-control" rows="20">
                                @Model.Template.Content 
                            </textarea>
                            <span asp-validation-for="Template.Content" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Template.IsCompileImmediately" type="checkbox" />
                            <label asp-for="Template.IsCompileImmediately" class="control-label"></label>
                            <span asp-validation-for="Template.IsCompileImmediately" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-default" name="action" value="update">确定</button>
                        <button type="submit" class="btn btn-secondary" name="action" value="reset" onclick="return confirm('该操作将覆盖您的模板内容且不可恢复，确认吗?')">重置为默认</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>