@page
@model LinkBox.Pages.Template.HtmlModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="toptital">

            <div class="col-md-3 column ">
                <partial name="_Menu" />
            </div>

            <div class="col-md-9 column" id="right">

                <div id="addpeifang">
                    <div class="alert alert-success alert-dismissable">
                        <h4>
                            @(Model.Message)
                        </h4>
                    </div>

                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Template.Html" class="control-label"></label>
                            <textarea asp-for="Template.Html" type="text" class="form-control" rows="20">
                            @Model.Template.Html 
                            </textarea>
                            <span asp-validation-for="Template.Html" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default" name="action" value="update">确定</button>
                        <button type="submit" class="btn btn-secondary" name="action" value="reset">重置为默认</button>

                       
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>