@page
@model LinkBox.Pages.Template.JsModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="toptital">

            <div class="col-md-3 column ">
                <partial name="_Menu" />
            </div>

            <div class="col-md-9 column" id="right">

                <div id="addpeifang">
                    <div class="alert alert-success alert-dismissable">
                        <h4>
                            自定义脚本
                        </h4>
                    </div>

                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
         
                        <div class="form-group">
                           
                        </div>
                        <div class="form-group">
                        
                        </div>
                        <button type="submit" class="btn btn-default" id="sub1">确定</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>